header{
  
  font-size: 4vw;
  text-align: center;
}
body{
  background-color: #8ECAE6;
}

#images{
  background-color: #219EBC;
  margin-top: 5%;
  
  height: 22rem;
  border: 2px black solid;
  
  display: flex;
  gap: 1px;
  justify-content: space-around;
}
#logo{
  position: absolute;
  margin-left: 15rem;
  margin-top: 1rem;
  width: 10%;
  height: 20%;
}

footer{
  background-color: #023047;
  color: #FB8500;
  height: 5rem;
  width: 100%;
  margin-top: 45rem;
  text-align: center;
}

h1{
  color:#023047;
  font-size: 3vw;
  border-bottom: 2px solid black;
}

h2{
  color:#023047;
  margin-top: 5%;
  text-align: center;
}

#images img{
  width: 25%;
}

#button{
  position: absolute;
  margin-left: 45%;
  margin-top: -15vw;
}

#final-results{
  position: absolute;
  width: 50vw;
  height: 10vw;
  
  margin-top: -27vw;
}
#subtext{
  color:#023047;
  text-align: center;
}
